__pycache__
.idea/
venv
*.db
*.jpg
*.jpeg
*.png
!flaskblog/static/profile_pics/default.jpg

# config file for local development
flaskblog/development_config.cfg

# files in server repository
myprojectenv
myproject.soc